[submodule "modules/proscope"]
	path = modules/proscope
	url = git@github.com:fuxialexander/proscope.git
[submodule "modules/caesar"]
	path = modules/caesar
	url = git@github.com:fuxialexander/caesar.git
[submodule "modules/atac_rna_data_processing"]
	path = modules/atac_rna_data_processing
	url = git@github.com:fuxialexander/atac_rna_data_processing.git
