model:
  _target_: get_model.model.model_refactored.GETChrombpNetBias
  cfg:
    motif_scanner:
      num_motif: 128
      include_reverse_complement: false
      bidirectional_except_ctcf: false
      motif_prior: false
      learnable: true
      has_bias: true
    atac_attention:
      pool_method: mean
      motif_dim: 128
      hidden_dim: 128
      n_dil_layers: 4
      profile_kernel_size: 75
    loss:
      components:
        atpm:
          _target_: torch.nn.MSELoss
        aprofile:
          _target_: torch.nn.MSELoss
      weights:
        atpm: 0
        aprofile: 1.0
    metrics:
      components:
        atpm: ["mse", "pearson", "spearman", "r2"]
        aprofile: ["mse"]