model:
  _target_: get_model.model.model_refactored.GETNucleotideRegionFinetuneATAC
  cfg:
    num_regions: 200
    num_motif: 283
    embed_dim: 768
    num_layers: 12
    num_heads: 12
    dropout: 0.1
    output_dim: 1
    flash_attn: false
    pool_method: "mean"
    motif_scanner:
      num_motif: 637
      include_reverse_complement: true
      bidirectional_except_ctcf: true
      motif_prior: true
      learnable: true
      has_bias: true
    atac_attention:
      motif_dim: 639 
      pool_method: "sum"
    region_embed:
      num_regions: 200
      num_features: 283
      embed_dim: 768    
    encoder:
      num_heads: ${model.cfg.num_heads}
      embed_dim: ${model.cfg.embed_dim}
      num_layers: ${model.cfg.num_layers}
      drop_path_rate: ${model.cfg.dropout}
      drop_rate: 0
      attn_drop_rate: 0
      use_mean_pooling: false
      flash_attn: ${model.cfg.flash_attn}
    head_atpm:
      embed_dim: ${model.cfg.embed_dim}
      output_dim: ${model.cfg.output_dim}
      hidden_dim: 256
      drop: ${model.cfg.dropout}
    mask_token:
      embed_dim: ${model.cfg.embed_dim}
      std: 0.02
    loss:
      components:
        atpm:
          _target_: torch.nn.PoissonNLLLoss
          reduction: "mean"
          log_input: False

      weights:
        atpm: 1.0
    metrics:
      components:
        atpm: ["pearson", "spearman", "r2"]
