model:
  _target_: get_model.model.model_refactored.GETRegionFinetuneHiCOE
  cfg:
    num_regions: 200
    num_motif: 284
    embed_dim: 768
    num_layers: 12
    num_heads: 12
    dropout: 0.1
    output_dim: 2
    flash_attn: false
    pool_method: "mean"
    distance_contact_map:
      freezed: true
    region_embed:
      num_regions: ${model.cfg.num_regions}
      num_features: ${model.cfg.num_motif} 
      embed_dim: ${model.cfg.embed_dim}
    encoder:
      num_heads: ${model.cfg.num_heads}
      embed_dim: ${model.cfg.embed_dim}
      num_layers: ${model.cfg.num_layers}
      drop_path_rate: ${model.cfg.dropout}
      drop_rate: 0
      attn_drop_rate: 0
      use_mean_pooling: false
      flash_attn: ${model.cfg.flash_attn}
    header_hic:
      input_dim: 128
      hidden_dim: 64
      output_dim: 1
    mask_token:
      embed_dim: ${model.cfg.embed_dim}
      std: 0.02
    loss:
      components:
        hic:
          _target_: torch.nn.MSELoss
          reduction: "mean"
      weights:
        hic: 1.0
    metrics:
      components:
        hic: ["pearson", "spearman", "r2"]
