defaults:
  - base_region_config
  - model/GETRegionFinetuneATAC@_here_
  - finetune/v1_pretrain@finetune
  - machine/pc_region_v1
  - _self_

assembly: "hg19"

dataset:
    root: ${machine.data_path}
    metadata_path: 'cell_type_align.txt'
    num_region_per_sample: 900
    transform: null
    data_type: 'fetal'
    leave_out_celltypes: 'Astrocytes'
    leave_out_chromosomes: 'chr14'
    quantitative_atac: true
    sampling_step: 450

training:
  save_ckpt_freq: 1
  epochs: 100
  warmup_epochs: 1
  accumulate_grad_batches: 1
  clip_grad: null
  use_fp16: false

optimizer:
  lr: 0.0001
  min_lr: 0.0001
  weight_decay: 0.05
  opt: "adamw"
  opt_eps: 1e-8
  opt_betas: [0.9, 0.999]

wandb:
  project_name: "ATAC_motif_benchmark"
  run_name: "Original"

task:
  layer_names: []
  test_mode: "inference"
  gene_list: /home/xf2217/Projects/get_revision/brain_multiome/genes_in_Q1.txt


finetune:
  pretrain_checkpoint: true
  strict: true
  use_lora: true
  checkpoint: "/home/xf2217/Projects/get_checkpoints/new_output_e800_r200_mask0.5_adult_natac_human_bingren_shendure/checkpoint-799.pth"
  patterns_to_freeze: []

eval_tss: true
log_image: true