defaults:
  - base_region_config
  - model/GETRegionFinetuneATAC@_here_
  - finetune/v1_pretrain@finetune
  - machine/pc_region_v2
  - _self_

assembly: "hg38"

model:
  cfg:
    num_regions: 200
dataset:
    root: ${machine.data_path}
    metadata_path: 'data/k562_atac_finetune.csv'
    num_region_per_sample: 200
    transform: null
    data_type: 'k562'
    leave_out_celltypes: 'Fetal Astrocyte 1'
    leave_out_chromosomes: "chr14"
    quantitative_atac: true
    sampling_step: 100
    mask_ratio: 0

training:
  save_ckpt_freq: 1
  epochs: 100
  warmup_epochs: 5
  accumulate_grad_batches: 1
  clip_grad: null
  use_fp16: false

optimizer:
  lr: 0.0005
  min_lr: 0.000001
  weight_decay: 0.05
  opt: "adamw"
  opt_eps: 1e-8
  opt_betas: [0.9, 0.999]

wandb:
  project_name: "GETRegionFinetuneATAC_astrocyte"
  run_name: "Astrocyte_from_pretrain"

finetune:
  strict: false
  pretrain_checkpoint: true
  use_lora: true
  layers_with_lora: ['region_embed', 'encoder']
  checkpoint:  ../get_checkpoints/new_output_e800_r200_mask0.5_adult_natac_human_bingren_shendure/checkpoint-799.pth
  patterns_to_freeze: []

eval_tss: false
log_image: true