defaults:
  - base_config
  - model/GETChrombpNet@_here_
  - dataset/finetune_monocyte@dataset
  - machine/manitou
  - _self_

task:
  layer_names: ["atac_attention"]
  test_mode: "perturb"
  gene_list:
    - "PPIF"
  mutations: "/burg/pmg/users/xf2217/get_revision/PPIF/prepared_data.tsv"

assembly: "hg38"
dataset:
  center_expand_target: 1000
  n_peaks_lower_bound: 2
  n_peaks_upper_bound: 10

training:
  save_ckpt_freq: 10
  epochs: 2
  warmup_epochs: 1
  accumulate_grad_batches: 1
  clip_grad: null
  use_fp16: true

optimizer:
  lr: 0.0001
  min_lr: 0.0001
  weight_decay: 0.05
  opt: "adamw"
  opt_eps: 1e-8
  opt_betas: [0.9, 0.95]

wandb:
  project_name: "debug_finetune"
  run_name: "experiment_1"

finetune:
  checkpoint: "/pmglocal/xf2217/Expression_Finetune_monocyte.Chr4&14.conv50.learnable_motif_prior.chrombpnet.shift10.R100L1000.augmented.20240307/checkpoint-17.pth"
  patterns_to_freeze: []
