defaults:
  - base_ref_region_config
  - model/DistanceContactMap@_here_
  - machine/pc
  - dataset/k562_ref_eval@dataset
  - _self_

assembly: "hg38"

task:
  layer_names: []
  test_mode: "interpret"

training:
  save_ckpt_freq: 1
  epochs: 100
  warmup_epochs: 1
  accumulate_grad_batches: 1
  clip_grad: null
  use_fp16: false

dataset:
  quantitative_atac: true
  sampling_step: 100
  mask_ratio: 0

optimizer:
  lr: 0.001
  min_lr: 0.000001
  weight_decay: 0.05
  opt: "adamw"
  opt_eps: 1e-8
  opt_betas: [0.9, 0.999]

wandb:
  project_name: "DistanceMap"
  run_name: "H1_ESC_MicroC"

finetune:
  pretrain_checkpoint: false
  strict: true
  use_lora: false
  checkpoint: null
  patterns_to_freeze: []

eval_tss: false
log_image: false
