defaults:
  - base_config
  - model/GETFinetune@_here_
  - machine/pc
  - dataset/finetune_k562_fetal@dataset
  - _self_

assembly: "hg38"

task:
  layer_names: ["atac_attention"]
  test_mode: "skip"
  gene_list: "PPIF"

training:
  save_ckpt_freq: 10
  epochs: 100
  warmup_epochs: 1
  accumulate_grad_batches: 1
  clip_grad: null
  use_fp16: true

optimizer:
  lr: 0.0001
  min_lr: 0.0001
  weight_decay: 0.05
  opt: "adamw"
  opt_eps: 1e-8
  opt_betas: [0.9, 0.95]

wandb:
  project_name: "debug_finetune"
  run_name: "experiment_1"

finetune:
  pretrain_checkpoint: false
  strict: false
  checkpoint: null
  patterns_to_freeze: []
